@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

@font-face {
  font-family: 'Cursed Timer ULiL';
  src: url('../fonts/CursedTimerUlil-Aznm.ttf');
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scoreboard {
  width: 600px;
  height: 400px;
  background-color: #131c2a;
  color: #f3f4f6;
}

.container {
  display: flex;
  justify-content: space-around;
}

.board-wrapper {
  text-align: center;
}

h3,
h4 {
  font-family: 'Roboto', serif;
}

.board {
  width: 145px;
  height: 60px;
  font-size: 4rem;
  color: #3cff00;
  padding-top: 3px;
  font-family: 'Cursed Timer ULiL', sans-serif;
  background-color: rgba(60, 255, 0, 0.1);
}

.board-btn-wrapper {
  margin-top: 20px;
}

.btn {
  width: 45px;
  height: 45px;
  color: #9aabd8;
  border-color: #9aabd8;
  border-radius: 5px;
  background-color: transparent;
  font-family: 'Cursed Timer ULiL', sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #406cda;
  border-color: #406cda;
}

.period,
.timer {
  height: 40px;
  font-size: 2.5rem;
  color: #e80d35;
  background-color: rgba(232, 13, 53, 0.1);
  margin-top: 10px;
}

.timer {
  border: 2px solid #f3f4f6;
}

.period-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding-block: 2.5px;
}

.period {
  width: 35px;
  margin: 0;
}

hr {
  margin-block: 20px;
}
